.wrapper {
  margin: 50px auto;
  max-width: var(--block-block-width);
}

.statistic {
  color: var(--color-sheltertech-blue);
  font-family: var(--font-family-merriweather);
  font-size: 72px;
  line-height: 92px;
  max-width: 296px;
}

.statisticText {
  font: var(--font-body-medium);
  max-width: 296px;
}

@media (--tablet-and-down) {
  .wrapper {
    padding: 0 40px;
  }
}
