/* Background bleed */

.bleedWrapper {
  display: grid;
  grid-template-columns: 1fr minmax(var(--grid-content-min-width), var(--grid-content-max-width)) 1fr;
  margin: auto;
  max-width: var(--grid-bleed-max-width);
}

.bleedMainContent {
  grid-column: 2;
  min-width: 0;
}

@media (--tablet-and-down) {
  .bleedWrapper {
    grid-template-columns: 40px 1fr 40px;
  }
}


/* Main grid */

.gridParent {
  column-gap: var(--grid-column-gap);
  display: grid;
  grid-template-columns: repeat(var(--grid-column-count), minmax(0, 1fr));
}

.gridParent > * {
  min-width: 0;
}

@media (--tablet-and-down) {
  .gridParent {
    display: block;
    padding-top: 30px;
  }
}


/* Main grid areas */

.gridAreaText {
  grid-column: 2 / span 6;
  grid-row: 1;
}

.gridAreaImage1 {
  grid-column: 9 / span 4;
  grid-row: 1;
}

.gridAreaImage2 {
  grid-column: 9 / span 4;
  grid-row: 1;
}


/* Left grid area */

.title {
  font: var(--font-headline);
  margin-top: 90px;
}

.subtitle {
  font: var(--font-body-large);
  margin-top: 15px;
}

.description {
  font: var(--font-body-medium);
  margin-top: 20px;
}

.ctaButtonRow {
  margin-bottom: 83px;
  margin-top: 30px;
}

@media (--tablet-and-down) {
  .title {
    margin-top: 30px;
  }

  .ctaButtonRow {
    margin-bottom: 0;
  }
}


/* Right grid area*/

.image {
  height: auto;
  max-width: 100%;
}

.image1Wrapper {
  margin-top: 50px;
}

.image2Wrapper {
  float: right;
  left: 75px;
  margin-bottom: 80px;
  position: relative;
  top: 271px;
}

@media (--tablet-and-down) {
  .image1Wrapper {
    position: relative;
    margin-top: 0;
    right: 40px;
  }

  .image2Wrapper {
    left: 40px;
    margin: 38px 0 40px 85px;
    top: 0%;
  }
}
