.bleedWrapper {
  display: grid;
  grid-template-columns: 1fr minmax(var(--grid-content-min-width), var(--grid-content-max-width)) 1fr;
  grid-template-rows: auto 0;
  margin: auto;
  max-width: var(--grid-bleed-max-width);
  padding-bottom: 60px;
  padding-top: 60px;
  padding-left: 50px;
  padding-right: 50px;
}

.bleedMainContent {
  grid-column: 2;
  grid-row: 1;
  /* Override grid item default of auto so that item contents cannot stretch the grid itself */
  min-width: 0;
}

@media (--tablet-and-down) {
  .bleedWrapper {
    grid-template-columns: 40px 1fr 40px;
  }
}

/* Main grid areas */
  
.gridAreaMiddle {
  grid-column: 2;
}

.innerWrapper {
  background: gray;
  height: 100%;
  margin: 0;
  padding: 60px 50px;
}

.quote {
  margin: 0;
  font: var(--font-body-medium);
}

.attribution {
  font: var(--font-caption);
  margin-top: 22px;
}