/* Background bleed */

.bleedWrapper {
  background-color: var(--color-midnight-blue);
  color: var(--color-gray-400);
  font-family: var(--font-family-lato);
  font-size: 14px;
  font-weight: 400;
  line-height: 1.2;
  margin: auto;
  max-width: var(--grid-bleed-max-width);
}

.organizationInfo {
  display: flex;
  justify-content: space-between;
  padding: 30px 60px;
}

.address {
  font-style: inherit;
}

@media (--tablet-and-down) {
  .organizationInfo {
    flex-direction: column;
    padding: 30px 0;
  }

  .address {
    margin-top: 15px;
  }
}
