/* Background bleed */

.bleedWrapper {
  display: grid;
  grid-template-columns: 1fr minmax(var(--grid-content-min-width), var(--grid-content-max-width)) 1fr;
  max-width: var(--grid-bleed-max-width);
}

.bleedBackground {
  grid-column: 1/ span 3;
  grid-row: 1;
  /* Override grid item default of auto so that item contents cannot stretch the grid itself */
  min-width: 0;
  background-size: cover;
  background-image: linear-gradient(90deg, #000000 0%, rgba(0, 0, 0, 0) 100%), var(--background-image);
}

@media (--tablet-and-down) {
  .bleedWrapper{
    display: grid;
    background-color: black;
    grid-template-rows: 214px auto;
    grid-template-columns: 40px 1fr 40px;
    max-width: var(--grid-bleed-max-width);
    padding-bottom: 55.5px;
  }

  .bleedBackground {
    grid-row: 1;
    background-image: linear-gradient(360deg, #000000 0%, rgba(0, 0, 0, 0) 100%), var(--background-image);
  }
}

/* Main grid */

.bleedMainContent {
  grid-column: 2;
  grid-row: 1;
  /* Override grid item default of auto so that item contents cannot stretch the grid itself */
  min-width: 0;
}

.gridParent {
  column-gap: var(--grid-column-gap);
  display: grid;
  grid-template-columns: repeat(var(--grid-column-count), minmax(0, 1fr));
  padding: 150px 0;
}

.gridAreaLeft {
  align-content: center;
  grid-column: 1 / span 6;
  grid-row: 1;
}

.gridAreaRight {
  align-self: center;
  grid-column: 9 / span 2;
  text-align: center;
  grid-row: 1;
}

@media (--tablet-and-down) {
  .bleedMainContent {
    grid-row: 1 /span 2;
  }

  .gridParent {
    display: grid;
    grid-template-rows: 214px auto;
    column-gap: 0;
    padding: 0;
  }

  .gridAreaLeft {
    grid-column: 1 / span 12;
    margin-top: -14.5px;
  }

  .gridAreaRight {
    grid-column: 6 / span 2;
  }
}

/* Title and Description container */

.textContainer {
  align-content: center;
  color: var(--color-white);
  display: flex;
  flex-direction: column;
}

/* Title block */

.title {
  font: var(--font-title);
  margin: 0;
}

/* Description block */

.description {
  font: var(--font-body-medium);
  margin-top: 20px;
}

/* Call To Action Buttons block */

.ctaButtonBlock {
  margin-top: 40px;
}

.ctaButtonRow {
  display: flex;
  flex-flow: row wrap;
  margin-top: 40px;
}

.ctaButtonRowItem:not(:last-child) {
  margin-right: 24px;
}

/* PlayIcon svg */
.playIcon {
  width: 35px;
  height: 45px;
}

@media (--tablet-and-down) {
  .ctaButtonRow {
    margin-top: 20px;
  }

  .ctaButtonRowItem {
    margin-top: 20px;
  }

  .playIcon {
    width: 25.67px;
    height: 33px;
  }
}
