/* Background bleed */

.bleedWrapper {
  display: grid;
  grid-template-columns: var(--bleed-grid-template-columns);
  margin: auto;
  max-width: var(--bleed-max-width);
  padding-bottom: 115px;
  padding-top: 100px;
}

/* Override grid item default of auto so that item contents cannot stretch the grid itself */
.bleedWrapper > * {
  min-width: 0;
}

@media (--tablet-and-down) {
  .bleedWrapper {
    grid-template-columns: 40px 1fr 40px;
    padding-top: 80px;
  }
}
.bleedMainContent {
  grid-column: 2;
}


/* Main grid */

.gridParent {
  column-gap: var(--grid-column-gap);
  display: grid;
  grid-template-columns: repeat(var(--grid-column-count), minmax(0, 1fr));
}

.gridParent > * {
  min-width: 0;
}

@media (--tablet-and-down) {
  .gridParent {
    display: flex;
    flex-direction: column-reverse;
  }
}


/* Main grid areas */

.gridAreaText {
  grid-column: 6/ span 6;
  grid-row: 1;
}

@media (--tablet-and-down) {
  .gridAreaText {
    margin: 30px 0 0;
  }
}

.gridAreaImage {
  grid-column: 2 / span 4;
  grid-row: 1;
}s


/* Left grid area */

.title {
  font: var(--font-body-large);
  margin: 0;
}

@media (--tablet-and-down) {
  .title {
    font: var(--font-body-large);
  }
}

.subtitle {
  font: var(--font-body-medium);
}

.description {
  font: var(--font-body-small);
  margin-top: 20px;
}

.bullet {
  list-style-position: outside;
  list-style-type: disc;
  margin-left: 1em;
  margin-top: 20px;
}

.ctaButtonRow {
  display: flex;
  flex-flow: row wrap;
  margin-top: 30px;
}

.ctaButtonRowItem:not(:last-child) {
  margin-right: 40px;
}

@media (--tablet-and-down) {
  .ctaButtonRow {
    flex-flow: column;
  }

  .ctaButtonRowItem:not(:last-child) {
    margin-bottom: 20px;
    margin-right: 0;
  }
}


/* Right grid area*/

.image {
  max-width: 100%;
}