.body {
  font: var(--font-body-medium);
  margin-left: auto;
  margin-right: auto;
  margin-top: 15px;
  max-width: 350px;
}

.buttonWrapper {
  margin-top: 30px;
}

.container {
  color: var(--color-white);
  display: flex;
  flex-direction: column;
  height: 400px;
  justify-content: center;
  text-align: center;
}

.title {
  font: var(--font-subtitle);
}
