.container {
  height: 240px;
  display: flex;
}

.bottombox {
  display: flex;
  flex-direction: row;
  height: 72px;
  align-self: flex-end;
}

.bar {
  background: var(--color-sheltertech-blue);
  height: 100%;
  margin-right: 12px;
  width: 8px;
}

.title {
  color: var(--color-white);
  font: var(--font-subtitle);
}

.subtitle {
  color: var(--color-white);
  font: var(--font-body-small);
}

