/* Background bleed */

.bleedWrapper {
  display: grid;
  grid-template-columns: 1fr minmax(var(--grid-content-min-width), var(--grid-content-max-width)) 1fr;
  margin: auto;
  max-width: var(--grid-bleed-max-width);
}

/* Top Row */

.subscriptionBlock {
  background-color: var(--color-black);
  display: flex;
  grid-column: 1 / span 12;
  justify-content: center;
  padding: 35px;
}

.subscribeContainer {
  align-items: baseline;
  display: flex;
}

.subscribeMessage {
  color: var(--color-white);
  font: var(--font-subtitle);
  margin-right: 20px;
  width: 340px;
}

.subscriptionBlock a {
  margin-left: 38px;
  padding: 14px 40px;
}

.subscriptionBlock a:hover {
  top: 0;
}

.formInput {
  display: flex;
  flex-direction: row;
}

.inputText {
  width: 291px;
}

@media (--tablet-and-down) {
  .bleedWrapper {
    display: block;
    grid-template-columns: 1fr;
    margin: 0;
  }

  .subscribeMessage {
    margin-bottom: 22px;
  }

  .subscribeContainer {
    align-items: center;
    display: flex;
    flex-direction: column;
  }

  .subscribeMessage {
    margin-right: 0;
  }

  .inputText {
    display: inline;
  }

  .inputText {
    width: 155px;
  }
}
