/* Background bleed */

.bleedWrapper {
  display: grid;
  grid-template-columns: 1fr minmax(var(--grid-content-min-width), var(--grid-content-max-width)) 1fr;
  grid-template-rows: auto 0;
  margin: auto;
  max-width: var(--grid-bleed-max-width);
}

.bleedBackground {
  background: var(--color-gray-300);
  grid-column: 1 / span 2;
  grid-row: 1 / -1;
}

.bleedMainContent {
  grid-column: 2;
  grid-row: 1;
  min-width: 0;
}

@media (--tablet-and-down) {
  .bleedWrapper {
    grid-template-columns: 40px 1fr;
  }

  .bleedBackground {
    grid-column: 1 / span 3;
  }
}


/* Main grid */

.gridParent {
  column-gap: var(--grid-column-gap);
  display: grid;
  grid-template-columns: repeat(var(--grid-column-count), minmax(0, 1fr));
  grid-template-rows: auto 590px;
  padding-top: 122px;
  row-gap: 84px;
}

.gridParent > * {
  min-width: 0;
}

@media (--tablet-and-down) {
  .gridParent {
    display: block;
    padding-bottom: 80px;
    padding-top: 50px;
  }
}


/* Main grid areas */

.gridAreaTopLeft {
  grid-column: 2 / span 4;
  grid-row: 1;
}

.gridAreaTopRight {
  grid-column: 6 / span 6;
  grid-row: 1;
}

.gridAreaBottomLeft {
  grid-column: 2 / span 5;
  grid-row: 2;
}

.gridAreaBottomRight {
  grid-column: 8 / span 4;
  grid-row: 2;
}


/* Component wrappers */

.paragraph1Wrapper {
  margin-top: 0px;
  font: var(--font-body-large);
}

.paragraph2Wrapper {
  margin-top: 0;
  font: var(--font-body-small);
}

.image1Wrapper {
  position: relative;
  top: 35px;
}

@media (--tablet-and-down) {
  .paragraph1Wrapper {
    margin-top: 40px;
    margin-right: 40px;
  }

  .paragraph2Wrapper {
    margin-top: 40px;
    margin-right: 40px;
  }

  .image1Wrapper {
    margin-top: 40px;
    margin-left: 40px;
    position: static;
  }
}


/* Title block */

.title {
  font: var(--font-headline);
  margin: 0;
}


/* Image block */

.image1 {
  max-width: 100%;
  height: auto;
}


/* CTA block */

.ctaButton {
  margin-top: 60px;
}

@media (--tablet-and-down) {
  .ctaButton {
    margin-top: 40px;
  }
}
