.bleedWrapper {
  display: grid;
  grid-template-columns: 1fr minmax(var(--grid-content-min-width), var(--grid-content-max-width)) 1fr;
  justify-items: center;
  margin: auto;
  max-width: var(--grid-bleed-max-width);
  padding-bottom: 120px;
  padding-top: 120px;
}

.bleedMainContent {
  grid-column: 2;
  grid-row: 1;
  /* Override grid item default of auto so that item contents cannot stretch the grid itself */
  min-width: 0;
  text-align: center;
}

@media (--tablet-and-down) {
  .bleedWrapper {
    grid-template-columns: 40px 1fr 40px;
  }
}

.title {
  font: var(--font-headline);
  margin-bottom: 40px;
}

.description {
  font: var(--font-title);
}

