.card-container {
  height: auto;
  width: 370px;
}

.img-container {
  margin-bottom: 20px;
}

.img {
  height: 250px;
  width: 100%;
}

.title-container {
  margin-bottom: 10px;
}

.title {
  color: var(--color-white);
  font-family: var(--font-family-title);
  font-size: 30px;
  font-style: normal;
  font-weight: 300;
  line-height: 130%;
}

.description-container {
  margin-bottom: 20px;
}

.description {
  color: var(--color-white);
  font-family: var(--font-family-body);
  font-size: 16px;
  font-style: normal;
  font-weight: normal;
  line-height: 120%;
}
