.img {
  height: 250px;
  object-fit: cover;
  width: 100%;
}

.title {
  color: var(--color-black);
  font: var(--font-title);
  line-height: 1.3;
  margin-top: 20px;
}

.description {
  color: var(--color-black);
  font: var(--font-body-small);
  line-height: 1.2;
  margin-top: 10px;
}
