/* Outer grid */

.bleedWrapper {
  display: grid;
  grid-template-columns: 1fr minmax(var(--grid-content-min-width), var(--grid-content-max-width)) 1fr;
  margin: auto;
  max-width: var(--grid-bleed-max-width);
}

.bleedBackground {
  background: var(--color-black);
  grid-column: 2 / span 2;
  grid-row: 1;
}

.bleedMainContent {
  grid-column: 2;
  grid-row: 1;
  min-width: 0;
}

@media (--tablet-and-down) {
  .bleedWrapper {
    grid-template-columns: 40px 1fr 40px;
  }

  .bleedBackground {
    grid-column: 1 / span 3;
  }
}


/* Main grid */

.gridParent {
  column-gap: var(--grid-column-gap);
  display: grid;
  grid-column-start: 2;
  grid-template-columns: repeat(var(--grid-column-count), minmax(0, 1fr));
  padding: 140px 0 93px;
}

/* Override grid item default of auto so that item contents cannot stretch the grid itself */
.gridParent > * {
  min-width: 0;
}

@media (--tablet-and-down) {
  .gridParent {
    display: block;
    padding: 50px 0 80px;
  }
}


/* Main grid areas */

.gridAreaLeft {
  grid-column: 2 / span 4;
}

.gridAreaRight {
  grid-column: 7 / span 5;
}


/* Component wrappers */

.jobsWrapper {
  margin-top: 0;
}

.ctaButtonWrapper {
  margin-top: 40px;
}


@media (--tablet-and-down) {
  .jobsWrapper {
    margin-top: 40px;
  }
}


/* Title block */

.title {
  color: var(--color-white);
  font: var(--font-headline);
}


/* Jobs block */

.jobs {
  color: var(--color-white);
}

.jobs :first-child {
  margin: 0;
}

.jobs *:not(:first-child) {
  margin-top: 20px;
}

.jobs *:nth-child(odd) {
  font: var(--font-subtitle);
}

.jobs *:nth-child(even) {
  font: var(--font-body-medium);
}
